<div class="h-screen w-screen flex flex-col">
  <header class="navbar bg-base-200 shadow-sm border-b">
    <a class="btn btn-ghost text-xl">GroupchatAI</a>
  </header>
  <main class="relative flex-grow p-8 overflow-auto">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
